 <style>
        header {
            text-align: center;
            background-color: paleturquoise;

        }

        main {
            text-align:justify;
            font-family: "Lucida Console", "Courier New", monospace;

        }

        h4, h3, h2, h1 {
            font-family: Arial, Helvetica, sans-serif;
        }

        body {
            max-width: 1000px;
            margin: auto;
            border-style: dashed;
            background-color:silver;
        }

        section {

            font-family: "Lucida Console", "Courier New", monospace;
            border-style: dashed;
            text-align: justify;
            background-color: paleturquoise;
        }

        article{
            font-family: "Lucida Console", "Courier New", monospace;
        }

        a:link, a:visited {

            background-color: black;
            color: white;
            padding: 14px 25px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            border: 2px solid black;
            border-radius: 12px; 

        }

        a:hover, a:active {
            background-color: grey;
            border: 2px solid black;
            border-radius: 12px; 
        }


        #tabla table{
            border-collapse: collapse;
        }
        
      
        #tabla th{
            border:1px solid rgb(66, 68, 68);
            padding:25px;
            background-color:silver;
            color: white;
            text-decoration:bold
            
        }
           tr:nth-child(even):hover, tr:nth-child(odd):hover {background-color: silver;}
           tr:nth-child(odd){background-color: turquoise;}
           tr:nth-child(even){background-color: paleturquoise;}
     


        


    
            

        
    